<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="automationFramev1">
    <listeners>
        <listener class-name="com.automationFramev1.utilities.ExtentReport" />
    </listeners>
    <test name="automationFramev1">
        <parameter name="browser" value="chrome" />
        <classes>
            <!--<class name="com.automationFramev1.testCases.Baseclass"/>--> 
            <class name="com.automationFramev1.testCases.TC_TestCases_001"/>
             <class name="com.automationFramev1.testCases.TC_TestCases_002"/>
             <class name="com.automationFramev1.testCases.TC_TestCases_003"/>
              <class name="com.automationFramev1.testCases.TC_Homepagethreearrivals_004"/>
            <class name="com.automationFramev1.testCases.TC_imagearrivals_005"/>
        </classes>
    </test>
</suite>
